body {
  background: #222233;
  font-family: corbel, sans-serif;
  padding-top: 70px;
  margin: 0 auto;
  width: 644px;
  color: #e6f0ff;
  font-weight: lighter;
}

h3 {
	float: left;
	font-weight: lighter;
	color: #ca9604;
    letter-spacing: 0.03em;
}

.date {
	float: right;
	font-size: 11px;
    margin-top: 24px;
    color: #7f909e;
}

.description {
	clear: both;
	text-align: justify;
	letter-spacing: 0.01em;
	font-size: 15px;
    line-height: 1.4em;
}